@use "../../../../styles/colors.scss" as colors;

.root {
  button {
    font-size: medium;
    background: none;
    border: 0;
    color: colors.$white;
  }

  button.gradientRound {
    min-width: 150px;
    padding: 1rem;
    border-radius: 32px;
    background: linear-gradient(
      to left,
      colors.$radicalRed,
      colors.$cornFlowerBlue
    );
  }

  button.round {
    min-width: 150px;
    border: 2px solid colors.$white;
    padding: 1rem;
    border-radius: 32px;
  }
}
