@use "../../../styles/font-sizes.scss" as fontSizes;
@use "../../../styles/colors.scss" as colors;
@use "../../../styles/commons/typography.scss" as *;

.root {
  background-color: colors.$black;
  color: colors.$white;
  padding-bottom: 4rem;
  padding-top: 3rem;

  @include h2CustomTitle;

  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 1rem;
    column-gap: 1rem;
    justify-content: center;
    margin-top: 3rem;
    .playlistWrapper {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      text-align: center;
      .imgContainer {
        img {
          border-radius: 8px;
        }
      }
      .messageContainer {
        padding-top: 1rem;
      }
    }
  }
}

.light {
  background-color: colors.$black;
}

.dark {
  background-color: colors.$rangoonGreen;
}
