@use "../../../styles/colors.scss" as colors;
@use "../../../styles/font-sizes.scss" as fontSizes;

.root {
  padding: 2rem 0;
  .wrapper {
    max-width: 800px;
    margin: auto;
    padding-inline: 1rem;
    .recordLabelContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: end;
      padding: 2rem 0;
      .label {
        p {
          font-weight: 800;
          color: colors.$redPurple;
        }
        h2 {
          font-family: "Unbounded", cursive;
        }
      }
      .release {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 1rem;
        p {
          font-weight: 800;
          color: colors.$dustGrey;
        }
      }
    }
    .cardAlbumContainer {
      background-color: colors.$black;
      border-top-right-radius: 1rem;
      border-top-left-radius: 1rem;
      .cardContent {
        display: flex;
        flex-direction: row;
        color: colors.$white;
        flex-wrap: wrap;
        column-gap: 1rem;
        padding: 0.5rem;
        .albumPlayListContainer {
          max-width: 100%;
          flex-grow: 1;
          .albumPlayList {
            max-width: 100%;
            .albumTitle {
              padding: 0.5rem 0;
              p {
                text-transform: uppercase;
                color: colors.$yellowishOrange;
              }
              h2 {
                font-size: fontSizes.$default;
                font-family: "Unbounded", cursive;
              }
            }

            .albumDetails {
              font-size: fontSizes.$small;
            }
            ul {
              padding: 0;
              margin: 0;
              li {
                list-style: none;
                padding: 1rem 0;
                border-bottom: 0.5px solid colors.$dustGrey;
                .listItem {
                  display: flex;
                  column-gap: 1rem;
                  align-items: center;
                  .playIcon {
                    border: 1px solid;
                    border-radius: 50%;
                    border-color: colors.$dustGrey;
                    color: colors.$dustGrey;
                    width: 25px;
                    height: 25px;
                  }
                  p {
                    max-width: 160px;
                    text-align: left;
                    font-weight: 600;
                  }
                }
                .listItem.selected {
                  color: colors.$redPurple;
                  .playIcon {
                    color: colors.$redPurple;
                    border-color: colors.$redPurple;
                  }
                }
              }
            }
          }
        }
      }
    }
    .playerContainer {
      .player {
        width: 0 !important;
        height: 0 !important;
      }
    }
  }
}

.light {
  background-color: colors.$white;
}

.dark {
  background-color: colors.$dark;
  .wrapper {
    .recordLabelContainer {
      .label {
        h2 {
          color: colors.$white;
        }
      }
    }

    .release {
      h4 {
        color: colors.$white;
      }
    }
  }
}
