@use "../../../styles/colors.scss" as colors;
@use "../../../styles/font-sizes.scss" as fontSizes;
@use "../../../styles/media-queries.scss" as *;

section {
  position: relative;
}

.root {
  .swiper {
    .swiperSlide {
      .sliderContainer {
        position: relative;
        height: 94dvh;
        img {
          object-fit: cover;
          width: 100%;
          height: 94dvh;
        }
        .bannerTextContainer {
          position: absolute;
          top: 5%;
          padding: 1rem;
          width: 50%;
          left: 10%;
          color: colors.$white;
          h1 {
            font-size: fontSizes.$xlarge;
            font-family: "Unbounded", cursive;
          }
          p {
            font-family: "Michroma", sans-serif;
            margin-top: 1rem;
            line-height: 2ch;
            font-size: fontSizes.$default;
          }
          .buttonContainer {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 1rem;
            row-gap: 1rem;
            margin-top: 1rem;
            .buttonWrapper {
              .btnIcon {
                margin-right: 0.5rem;
              }
            }
          }
        }
      }
    }
  }
}

.spotifyPlayer {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  opacity: 0.8;
}

// media queries
@include tablet {
  .root {
    .swiper {
      .swiperSlide {
        .sliderContainer {
          .bannerTextContainer {
            top: 15%;
            left: 20%;
          }
        }
      }
    }
  }
}

@include desktop {
  .root {
    .swiper {
      .swiperSlide {
        .sliderContainer {
          .bannerTextContainer {
            width: 30%;
          }
        }
      }
    }
  }
}
