@use "../../../../styles/colors.scss" as colors;
@use "../../../../styles/font-sizes.scss" as fontSizes;

.root {
  position: relative;
  .titleContainer {
    position: absolute;
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      font-size: fontSizes.$xlarge;
      font-family: "Unbounded", cursive;
      color: colors.$white;
    }
  }
  .imgContainer {
    height: 300px;
    img {
      object-fit: cover;
      min-height: 300px;
    }
  }
}
