@use "../../../../styles/fontSizes.scss" as fontSizes;
@use "../../../../styles/colors.scss" as colors;

.root {
  background-color: colors.$onyx;
  padding-bottom: 3rem;
  padding-top: 3rem;
  .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    row-gap: 2rem;
    align-items: flex-end;
    .messageContainer {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      h2 {
        color: colors.$redPurple;
      }
      p {
        color: colors.$white;
      }
    }
    .inputContainer {
      form {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        row-gap: 1rem;
        input {
          border: none;
          padding: 1.5rem;
          border-top-left-radius: 50px;
          border-bottom-left-radius: 50px;
          background: colors.$erieBlack;
          color: colors.$white;
          padding-left: 3.5rem;
          outline: 0;
        }
        .inputIcon {
          position: absolute;
          left: 8%;
          color: colors.$vividRaspberry;
        }
        button {
          letter-spacing: 1px;
          border: none;
          padding: 1.5rem;
          border-top-right-radius: 50px;
          border-bottom-right-radius: 50px;
          color: colors.$white;
          background: linear-gradient(
            to left,
            colors.$radicalRed,
            colors.$cornFlowerBlue
          );
        }
      }
    }
  }
}
