@use "../../../styles/fontSizes.scss" as fontSizes;
@use "../../../styles/colors.scss" as colors;
@use "../../../styles/commons/utilities.scss" as *;

.root {
  margin: auto;
  padding: 1rem;
  .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    row-gap: 1rem;
    column-gap: 1rem;
    .artistBioContainer {
      max-width: 700px;
      width: 400px;
      overflow: hidden;
      .title {
        @include h2CustomTitle;
      }
      .bioContent {
        margin-top: 1rem;
        q {
          line-height: 2rem;
        }
        p {
          margin-top: 1rem;
          line-height: 2rem;
          font-weight: 500;
        }
      }
      .bioSocials {
        display: flex;
        flex-wrap: wrap;
        column-gap: 2rem;
        margin: 1rem 0 1rem 0;
      }
    }
    .artistImage {
      max-width: 600px;
      img {
        width: 100%;
      }
    }
  }
}

.light {
  background-color: colors.$white;
  color: colors.$black;
}

.dark {
  background-color: colors.$black;
  color: colors.$white;
}
