@use "../../styles/colors.scss" as colors;

.root {
  .nav {
    height: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: colors.$radicalRed;
    overflow-x: hidden;
    padding-top: 60px;
  }

  .nav.open {
    width: 250px;
    animation: 0.3s open;
  }

  .nav.close {
    width: 0;
    animation: 0.3s close;
  }
}

@keyframes open {
  from {
    width: 0;
  }
  to {
    width: 250px;
  }
}

@keyframes close {
  from {
    width: 250px;
  }
  to {
    width: 0;
  }
}
