@use "../../styles/colors.scss" as colors;

.root {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: colors.$radicalRed;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
