@use "../../../../styles/colors.scss" as colors;

.root {
  button {
    background: none;
    border: 0;
    color: colors.$white;
  }

  button.gradientRound {
    min-width: 150px;
    padding: 1rem;
    border-radius: 32px;
    background: linear-gradient(
      to left,
      colors.$radicalRed,
      colors.$cornFlowerBlue
    );
  }

  button.gradientCircle {
    padding: 10px;
    min-width: 45px;
    border-radius: 50%;
    background: linear-gradient(
      to left,
      colors.$radicalRed,
      colors.$cornFlowerBlue
    );
  }

  button.round {
    min-width: 150px;
    border: 2px solid colors.$white;
    padding: 1rem;
    border-radius: 32px;
  }

  button:hover {
    cursor: pointer;
  }

  button.defaultHover:hover {
    background: colors.$white;
    color: colors.$black;
  }

  button.radicalRedHover:hover {
    background: colors.$white;
    color: colors.$radicalRed;
  }

  button.gradientHover:hover {
    background: linear-gradient(
      to left,
      colors.$radicalRed,
      colors.$cornFlowerBlue
    );
    color: colors.$white;
  }
}
