@use "../../../../styles/colors.scss" as colors;

.root {
  .nav {
    width: 250px;
    height: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: colors.$radicalRed;
    overflow-x: hidden;
    padding-top: 60px;
  }
}
