@use "../../../../styles/colors.scss" as colors;

.root {
  width: 250px;
  height: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: colors.$redPurple;
  overflow-x: hidden;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      color: colors.$white;
      font-weight: 500;
      text-transform: uppercase;
      .listItemWrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;
        border-bottom: 1px solid colors.$cyanBlue;
      }
      .listItemInner {
        padding: 2rem;
        div {
          button {
            text-transform: uppercase;
            font-weight: 500;
          }
        }
      }
    }
  }
}
