$white: #fff;
$black: #000;
$yellow: #f1ee1a;
$orange: #ffa500;
$radicalRed: #f8386b;
$cornFlowerBlue: #bd04db;
$balticSea: #272727;
$onyx: #141414;
$redPurple: #ef016f;
$erieBlack: #1e1e1f;
$vividRaspberry: #ff0066;
