@use "../../../../styles/colors.scss" as colors;
@use "../../../../styles/media-queries.scss" as *;

.root {
  background-color: colors.$black;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  .durationContainer {
  }
  .controlContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 1rem 0;
    row-gap: 1rem;
    justify-content: center;
    .singerDetailsContainer {
      color: colors.$white;
      padding-inline: 1rem;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 0.5rem;
      .singerDetails {
        display: flex;
        flex-direction: column;
      }
    }
    .playerControl {
      display: flex;
      flex-direction: row;
      column-gap: 0.3rem;
      justify-content: center;
      width: 100%;

      .btnControl {
        padding: 0.5rem;
      }
    }

    .musicControlContainer {
      width: 100%;
      padding: 1rem;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      column-gap: 1rem;
      justify-content: space-between;
      .durationContainer {
        color: colors.$white;
      }
    }
  }
}

// media queries
@include tablet {
  .root {
    .controlContainer {
      .singerDetailsContainer {
        width: 20%;
      }
      .playerControl {
        width: 50%;
      }
      .musicControlContainer {
        width: 20%;
      }
    }
  }
}
