@use "../../../../styles/colors.scss" as colors;

.root {
  background-color: colors.$black;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  .durationContainer {
    .horizontalSlider {
      width: 100%;
      height: 10px;
    }
  }
  .controlContainer {
    display: flex;
    flex-direction: row;
    column-gap: 0.3rem;
    justify-content: center;
    margin-top: 1rem;
    .btnPlay {
      button {
        border-radius: 50%;
        padding: 10px;
        background: #f8386b;
        width: 45px;
      }
    }

    .btnControl {
      padding: 0.5rem;
    }
  }

  .bottomControlContainer {
    padding: 1rem;
  }
}
