@use "../../../../styles/colors.scss" as colors;

.root {
  background-color: colors.$black;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  .durationContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    top: -3px;
    input {
      width: 100%;
    }

    input[type="range"] {
      -webkit-appearance: none;
      height: 7px;
      background: #2f1f3399;
      background-image: linear-gradient(#ff4500, #ff4500);
      background-size: 100%;
      background-repeat: no-repeat;
    }

    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background: #ff4500;
      cursor: ew-resize;
      box-shadow: 0 0 2px 0 #555;
      transition: linear-gradient(#fff, #fff) 0.3s ease-in-out;
    }

    input[type="range"]::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      box-shadow: none;
      border: none;
      background: transparent;
    }
  }
  .controlContainer {
    display: flex;
    flex-direction: row;
    column-gap: 0.3rem;
    justify-content: center;
    margin-top: 1rem;
    .btnPlay {
      border-radius: 50%;
      padding: 10px;
      background: #f8386b;
    }

    .btnControl {
      padding: 0.5rem;
    }
  }

  .bottomControlContainer {
    padding: 1rem;
  }
}
