@use "../../../styles/fontSizes.scss" as fontSizes;
@use "../../../styles/colors.scss" as colors;
@use "../../../styles/commons/utilities.scss" as *;

.root {
  @include h2CustomTitle;

  .spotifyEmbed {
    padding: 1rem;
    margin: auto;
    max-width: 705px;
    iframe {
      border: none;
      width: 100%;
      height: 500px;
    }
  }
  .albumMessage {
    padding: 1rem;
    text-align: center;
    font-weight: 500;
    line-height: 2rem;
    max-width: 400px;
    margin: auto;
  }
}

.light {
  background-color: colors.$white;
  color: colors.$black;
}

.dark {
  background-color: colors.$black;
  color: colors.$white;
}
