.root {
    .durationContainer {
        display: flex;
        flex-direction: row;
    }
    .controlContainer {
        display: flex;
        flex-direction: row;
        column-gap: 1rem;
    }
}