@use "../../../../styles/fontSizes.scss" as fontSizes;
@use "../../../../styles/colors.scss" as colors;
@use "../../../../styles/commons/utilities.scss" as *;

.root {
  padding: 3rem 0;
  background-color: colors.$black;
  color: colors.$white;
  .title {
    @include h2CustomTitle;
    p {
      text-align: center;
      margin-top: 3rem;
    }
  }
  .row {
    text-align: center;
    p {
      margin-top: 3rem;
      font-size: fontSizes.$default;
    }
    .socialsContainer {
      margin-top: 3rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 1rem;
      row-gap: 1rem;
      justify-content: center;
      .socialCard {
        border-radius: 8px;
        border: 1px solid colors.$balticSea;
        background: colors.$onyx;
        .imageContainer {
          display: flex;
          flex-direction: column;
          align-items: center;
          height: 190px;
          min-width: 300px;
          justify-content: center;
          img {
            padding: 1rem;
          }
        }
      }
      .socialCard:hover {
        cursor: pointer;
      }
    }
    .contactInfoContainer {
      p {
        font-weight: 500;
        font-size: fontSizes.$large;
        span {
          color: colors.$cornFlowerBlue;
        }
      }
    }
  }
}

.light {
  background-color: colors.$black;
}

.dark {
  background-color: colors.$rangoonGreen;
}
