@use "../../../styles/colors.scss" as colors;

.root {
  padding: 2rem 0;
  .messageContainer {
    text-align: center;
    padding: 2rem 0;
    line-height: 2rem;
  }

  .btnContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 1rem;
    row-gap: 1rem;
    justify-content: center;
    padding-top: 1rem;
    .btn {
      button {
        .btnLabel {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          column-gap: 0.5rem;
          font-weight: 700;
        }
      }
    }
    .btn.apple {
      button {
        border-color: colors.$radicalRed;
        background-color: colors.$radicalRed;
        color: colors.$white;
      }
    }
  }
}

.light {
  color: colors.$black;
  .btnContainer {
    .btn {
      button {
        border-color: colors.$black;
        color: colors.$black;
      }
    }
  }
}

.dark {
  color: colors.$white;
}
