@use "../../styles/font-sizes.scss" as fontSizes;
@use "../../styles/colors.scss" as colors;

.root {
  h2 {
    padding-top: 1rem;
    font-size: fontSizes.$xlarge;
    font-weight: 600;
    position: relative;
    padding-bottom: 2rem;
    text-transform: capitalize;
    text-align: center;
  }
  h2:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 87px;
    height: 14px;
    background: linear-gradient(
      to left,
      colors.$radicalRed,
      colors.$cornFlowerBlue
    );
    transform: translateX(-50%);
  }
  .spotifyEmbed {
    padding: 1rem;
    margin: auto;
    max-width: 705px;
    iframe {
      border: none;
      width: 100%;
      height: 500px;
    }
  }
}
