@use "../../styles/colors.scss" as colors;
.root {
  nav {
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 1rem;
      li {
        list-style: none;
        .navLink {
          font-size: large;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 800;
          letter-spacing: 2px;
        }

        .navLinkActive {
          text-decoration: line-through;
          text-decoration-thickness: 4px;
          text-decoration-color: pink;
        }

        .navLinkActive:before,
        .navLinkActive:after {
          content: "\00a0\00a0";
        }
      }
    }
  }
}
