@use "../../../../styles/font-sizes.scss" as fontSizes;
@use "../../../../styles/colors.scss" as colors;

.root {
  position: sticky;
  top: 0;
  z-index: 100;
  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .logoContainer {
      .logoBtn {
        a {
          h1 {
            padding-inline: 1rem;
          }
        }
      }
    }
    .menuContainer {
      .barIcon {
        padding: 1rem;
        font-size: fontSizes.$large;
      }
    }
  }
}

.root.light {
  background-color: colors.$black;
  color: colors.$white;
  .logoContainer {
    .logoBtn {
      a {
        h1 {
          color: colors.$white;
        }
      }
    }
  }
  .menuContainer {
    .barIcon {
      color: colors.$white;
    }
  }
}

.root.light.fadeIn {
  background-color: colors.$white;
  color: colors.$black;
  .logoContainer {
    .logoBtn {
      a {
        h1 {
          color: colors.$black;
        }
      }
    }
  }
  .menuContainer {
    .barIcon {
      color: colors.$black;
    }
  }
}

.root.dark {
  background-color: colors.$white;
  color: colors.$black;
  .logoContainer {
    .logoBtn {
      a {
        h1 {
          color: colors.$black;
        }
      }
    }
  }
  .menuContainer {
    .barIcon {
      color: colors.$black;
    }
  }
}

.root.dark.fadeIn {
  background-color: colors.$black;
  color: colors.$white;
  .logoContainer {
    .logoBtn {
      a {
        h1 {
          color: colors.$white;
        }
      }
    }
  }
  .menuContainer {
    .barIcon {
      color: colors.$white;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
