@use "../../../../styles/font-sizes.scss" as fontSizes;
@use "../../../../styles/colors.scss" as colors;

.root {
  position: sticky;
  top: 0;
  z-index: 100;
  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .logoContainer {
      h1 {
        padding: 0.5rem;
      }
    }
    .menuContainer {
      .barIcon {
        padding: 1rem;
        font-size: fontSizes.$large;
      }
    }
  }
}

.root.fadeIn {
  animation: fadeIn 0.5s ease-in;
  background-color: colors.$white;
  color: colors.$black;
  .menuContainer {
    .barIcon {
      color: colors.$black;
    }
  }
}

.root.light {
  background-color: colors.$black;
  color: colors.$white;
  .menuContainer {
    .barIcon {
      color: colors.$white;
    }
  }
}

.root.light.fadeIn {
  background-color: colors.$white;
  color: colors.$black;
  .menuContainer {
    .barIcon {
      color: colors.$black;
    }
  }
}

.root.dark {
  background-color: colors.$white;
  color: colors.$black;
  .menuContainer {
    .barIcon {
      color: colors.$black;
    }
  }
}

.root.dark.fadeIn {
  background-color: colors.$black;
  color: colors.$white;
  .menuContainer {
    .barIcon {
      color: colors.$white;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
