@use "../../../styles/commons/typography.scss" as *;
@use "../../../styles/colors" as colors;
@use "../../../styles/font-sizes.scss" as fontSizes;
@use "../../../styles/media-queries.scss" as *;

.root {
  padding: 3rem 0;
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      @include h2CustomTitle;
    }
    .content {
      padding: 8rem 0.5rem;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      row-gap: 5rem;
      column-gap: 10rem;
      .contactContainer {
        max-width: 500px;
        min-width: 300px;
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
        .address {
          display: flex;
          flex-direction: column;
          row-gap: 1rem;
          .block {
            font-size: fontSizes.$small;
            .label {
              color: colors.$redPink;
            }
            .value {
              font-weight: 800;
            }
          }
        }
        .contactMessage {
          font-size: fontSizes.$small;
        }
      }

      .sendMessageContainer {
        max-width: 100%;
        min-width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
        .formContainer {
          display: flex;
          flex-direction: column;
          row-gap: 1rem;
          .formBtnContainer {
            padding: 1rem 0;
            text-align: right;
            .formBtn {
              button {
                border: 2px solid colors.$black;
                padding: 1rem;
                color: colors.$redPurple;
                font-weight: 800;
                font-size: fontSizes.$small;
                text-transform: uppercase;
                min-width: 180px;
              }
            }
          }
        }
      }
    }
  }
}

.light {
  background-color: colors.$white;
  color: colors.$black;
}

.dark {
  background-color: colors.$black;
  color: colors.$white;
  .wrapper {
    .content {
      .sendMessageContainer {
        .formContainer {
          .formField {
            input {
              color: colors.$white;
              background-color: colors.$black;
            }

            textarea {
              color: colors.$white;
              background-color: colors.$black;
            }
          }
          .formBtnContainer {
            .formBtn {
              button {
                border-color: colors.$white;
              }
            }
          }
        }
      }
    }
  }
}

// media queries
@include desktop {
  .root {
    .wrapper {
      .content {
        .sendMessageContainer {
          max-width: 500px;
          min-width: 450px;
        }
      }
    }
  }
}
