@use "../../../../styles/colors.scss" as colors;

.root {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: colors.$smokyBlack;
  .wrapper {
    height: 100%;
    .header {
      padding: 1rem;
      text-align: right;
      margin-right: 1rem;
    }
    .content {
      display: flex;
      flex-direction: column;
      row-gap: 3rem;
      height: 100%;
      justify-content: center;
      align-items: center;
    }
  }
}
