@use "../../../styles/colors.scss" as colors;
@use "../../../styles/font-sizes.scss" as fontSizes;

.root {
  padding: 2rem 0;
  .content {
    .tabHeader {
      padding: 2rem 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 1rem;
      justify-content: center;
      row-gap: 1rem;
      li {
        .btn {
          button {
            position: relative;
            p {
              font-size: fontSizes.$large;
              font-weight: 700;
            }
            .underline {
              position: absolute;
              bottom: -5px;
              left: 0;
              right: 0;
              height: 2px;
              background-color: colors.$redPurple;
            }
          }
        }
        .btn.selected {
          button {
            p {
              color: colors.$redPurple;
            }
          }
        }
      }
    }

    .tabContent {
      max-width: 1400px;
      .items {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        .item {
          .btn {
            width: 370px;
            height: 265px;
            button {
              max-width: 450px;
              padding: 0;
              height: 100%;
              width: 100%;
              position: relative;
              .btnOverlay,
              .overlayIcon {
                display: none;
              }
            }
          }

          .btn:hover {
            button {
              .btnOverlay {
                position: absolute;
                display: block;
                background-color: colors.$artyClickCrimson;
                height: 100%;
                width: 100%;
                opacity: 0.3;
                top: 0;
              }

              .overlayIcon {
                position: absolute;
                top: 0;
                display: block;
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
              }
            }
          }
        }
      }
    }
  }
}

.light {
  background-color: colors.$white;
  color: colors.$black;
  .content {
    .tabHeader {
      li {
        .btn {
          button {
            color: colors.$black;
          }
        }
      }
    }
  }
}

.dark {
  background-color: colors.$black;
  color: colors.$white;
  .content {
    .tabHeader {
      li {
        .btn {
          button {
            color: colors.$white;
          }
        }
      }
    }
  }
}
