@use "./styles/colors" as colors;
@use "./styles/font-sizes.scss" as fontSizes;

:root {
  font-family: "IBM Plex Sans", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-size: fontSizes.$default;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

body {
  padding: 0;
  margin: 0;
}

:is(h1, h2, h3, h4, h5, h6, p) {
  padding: 0;
  margin: 0;
}

// Swiper
.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  border-radius: 0;
}

.swiper-pagination-bullet-active {
  background: colors.$orange;
}

.swiper-button-prev {
  background: colors.$black;
  color: colors.$white;
}

.swiper-button-prev:after {
  font-size: 1rem;
}

.swiper-button-next {
  background: colors.$black;
  color: colors.$white;
}

.swiper-button-next:after {
  font-size: 1rem;
}

// Music Player Sliders
.horizontal-slider {
  width: 100%;
  height: 10px;
}

.slider-thumb {
  height: 20px;
  line-height: 20px;
  width: 8px;
  text-align: center;
  background-color: colors.$yellowishOrange;
  cursor: grab;
  bottom: -5px;
}

.slider-track {
  top: 0;
  bottom: 0;
}

.slider-track.slider-track-0 {
  background: colors.$yellowishOrange;
}

.slider-track.slider-track-1 {
  background: gray;
}
